body{
    margin: 0;
}

//landing page
#showcase{
    background-image: url('../img/pizza3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#showcase img{
    width: 250px;
    height: 300px;
}
#showcase h1{
    font-size: 80px;
    font-family: 'Bangers', serif;
    color:#D4AC0D  ;
}
#showcase p{
    font-size: 30px;
    font-family: 'Bangers', serif;
    color:#616A6B ;
}

//second page


