body{
    margin: 0;
}


#showcase{
    background-image: url('../img/pizza3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#showcase img{
    width: 250px;
    height: 300px;
}
#showcase h1{
    font-size: 80px;
    font-family: 'Bangers', serif;
    color:#D4AC0D  ;
}
#showcase p{
    font-size: 30px;
    font-family: 'Bangers', serif;
    color:#82E0AA ;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: rgb(182, 105, 34);
    height: 80px;
    width: 100%;
}
label.logo{
    color: #82E0AA;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    
}

#section1 {
    background-image: url('../img/pizza2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 10px;
}
#section1 h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Bangers', serif;
    color:#82E0AA;
}
#section1 p{
    text-align: center;
    font-size: 30px;
    font-family: 'Bangers', serif;
    color:#82E0AA;
}
#section1 ul{
    text-align: center;
    font-size: 30px;
    font-family: 'Bangers', serif;
    color:#82E0AA;
}

